<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="es">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>BA Elige</title>
  <style type="text/css">
    body{margin:0px;}
    /*unvisited link*/
    a{ text-decoration:none;}
    a:link{ text-decoration:none; color:black;}
    /*visited link*/
    a:visited{ text-decoration:none; color:black;}
    /*mouse hover link*/
    a:hover{ text-decoration:none; color:black;}
    /*selected link*/
    a:active{ text-decoration:none; color:black;}
    ul li{list-style:none;}
  </style>
</head>
<body>
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0" colspan="2">
  <tr>
    <td>
      <img src="https://www.repositoriodeimagenes.com/galeria/images/Header-mail-BA_Elige.jpg" style="display: block; border: none;" width="600" alt="BA Elige" usemap="#Map"/>
    </td>
  </tr>

  <tr>
    <%= yield %>
  </tr>

  <tr>
    <td valign="middle" style="align:justify; color:#EB186A; font-family:Arial; font-size:16px; padding:1px 30px;">

      <p><strong>La Ciudad es mucho mejor cuando la construimos juntos.</strong></p>

    </td>
  </tr>

  <tr width="601" height="10">
    <td >
    </td>
  </tr>

  <tr>
    <td>
      <img src="https://www.repositoriodeimagenes.com/galeria/images/footer-mailing-BA_Elige.jpg" style="display: block; border: none;" width="600" alt="Vamos Buenos Aires"/>
    </td>
  </tr>
  <tr style="font-family:Arial; font-size:8px;">

    <td style="background-color:#fff; padding:0px 30px;">

      <p>Ley de Protecci&oacute;n de datos de la CABA. Ley 1845 T&iacute;tulo IV art.13 inc. B) El titular tiene Derecho de acceso, previa acreditaci&oacute;n de su identidad, a solicitar y obtener informaci&oacute;n relativa a los datos personales referidos a su persona que se encuentren incluidos en los archivos, registros, bases o bancos de datos del sector p&uacute;blico de la Ciudad de Buenos Aires. Inc C) Tiene Derecho de rectificaci&oacute;n, actualizaci&oacute;n o supresi&oacute;n de sus datos.</p>

      <p>Al registrarse el usuario recibir&aacute; correos electr&oacute;nicos sobre noticias de inter&eacute;s y dem&aacute;s novedades relativas al GCBA. No ser&aacute;n v&aacute;lidos para el registro aquellos formularios que se encuentren incompletos. Declaro que todos y cada uno de los datos indicados son verdaderos, exactos, vigentes y aut&eacute;nticos.</p>

      <p>La Defensor&iacute;a del Pueblo de la Ciudad Aut&oacute;noma de Buenos Aires, inviste el car&aacute;cter de organismo de control de la Ley 1845 de la Ciudad Aut&oacute;noma de Buenos Aires. La protecci&oacute;n de la privacidad de los usuarios es sumamente importante para el GCBA, por ello, ante cualquier duda o consulta, ponerse en contacto llamando al 147 (o desde fuera de la Ciudad Aut&oacute;noma de Buenos Aires al 0800-999-2727).</p>

      <p>Prohibida la reproducción total o parcial. Las imágenes son ilustrativas. Para dejar de recibir comunicaciones, haz clic <strong><a href="https://baelige.buenosaires.gob.ar/account" style="color:#000;font-size:11px;font-family:Arial,Helvetica,sans-serif;text-decoration:none;" target="_blank">aquí</a></strong>.</p>

    </td>

  </tr>
</table>
<map name="Map" id="Map">
  <area shape="rect" coords="202,44,228,68" href="https://www.facebook.com/BaParticipacionCiudadana" target="_blank" alt="Facebook"/>
  <area shape="rect" coords="228,44,254,68" href="https://twitter.com/BAPartCiudadana" target="_blank" alt="Twitter"/>
  <area shape="rect" coords="279,44,304,68" href="http://bapc.buenosaires.gob.ar/" target="_blank" alt="Buenos Aires Gob"/>
</map>

</body>
</html>