<div class="row margin-top">

  <div class="small-12 column">
    <%= render "shared/back_link" %>

    <h1><%= t('pages.more_information.titles.how_it_works') %></h1>

    <p>Vas a encontrar en distintos puntos de alto tránsito de la Ciudad, gestores que van a poder ayudarte a crear tu
      cuenta y/o propuestas: </p>

    <ol>
      <li style="list-style: inherit;">Florida y Diagonal Norte</li>
      <li style="list-style: inherit;">Santa Fe y Callao</li>
      <li style="list-style: inherit;">Corrientes y Anchorena</li>
      <li style="list-style: inherit;">Caseros y Entre Ríos</li>
      <li style="list-style: inherit;">San Juan y Boedo</li>
      <li style="list-style: inherit;">Acoyte y Rivadavia</li>
      <li style="list-style: inherit;">Rivadavia y San Pedrito</li>
      <li style="list-style: inherit;">Riestra y Murguiondo</li>
      <li style="list-style: inherit;">Alberdi y Larrazábal</li>
      <li style="list-style: inherit;">Álvarez Jonte y Lope de Vega</li>
      <li style="list-style: inherit;">Beiró y Lope de Vega</li>
      <li style="list-style: inherit;">Triunvirato y Olazábal</li>
      <li style="list-style: inherit;">Cabildo y Juramento</li>
      <li style="list-style: inherit;">Santa Fe y Bulnes</li>
      <li style="list-style: inherit;">Federico Lacroze y Corrientes</li>
    </ol>

  </div>
</div>
