<div class="row margin-top">
  <!--<div class="small-12 medium-3 column">-->

    <!--<ul class="menu vertical margin-top">-->
        <!--<li><a href="#i"><strong>La nueva ola global de participación ciudadana</strong></a></li>-->
        <!--<li><a href="#ii"><strong>Participación ciudadana directa con experiencia</strong></a></li>-->
    <!--</ul>-->
  <!--</div>-->

  <div class="text small-12 column">
    <%= render "shared/back_link" %>

    <h1>Participación ciudadana directa en el mundo</h1>
    <p>
      En el mundo existen sistemas de participación ciudadana muy similares al que vamos a implementar en la Ciudad de Buenos Aires, que funcionan desde hace años en países muy diferentes.La experiencia larga y variada de dichos sistemas demuestra un impacto muy positivo en la sociedad.
    </p>
    <p>
      Además de los ejemplos clásicos, como Suiza, otros países como Islandia, Finlandia, España, Brasil, Estados Unidos,  están apostando por una participación directa de la ciudadanía en la toma de decisiones.
    </p>
    <p>
      Madrid es una de las ciudades donde se están desarrollando estas nuevas herramientas, muy similares al nuevo sitio web de la Ciudad de Buenos Aires. Su plataforma Madrid Decide permite a la población presentar y apoyar y votar propuestas.
    </p>

  </div>
</div>
