<div class="row margin-top">
  <div class="small-12 medium-9 column">
    <%= render "shared/back_link" %>

    <h1>¿Qué es una inversión?</h1>
    <p>Un gasto de inversión es todo aquello que el GCBA puede adquirir o construir. En cambio, los gastos corrientes implican costos de funcionamiento, como por ejemplo gastos de contratación de personal, servicio de limpieza, etc.</p>

    <h3>Algunos ejemplos de gastos de inversión:</h3>
    <p style="background: yellow;">-Creación de infraestructuras: urbanización, viales, señalización vial, mobiliario urbano, alumbrado, parques, plazoletas.</p>
    <p style="background: yellow;">-Puesta en valor de  fuentes, monumentos.</p>
    <p style="background: yellow;">-Reposición de infraestructuras: remodelación de viales y su señalización, remodelación de parques y zonas verdes, etc.</p>
    <p style="background: yellow;">-Reforma de edificios: polideportivos y centros culturales.</p>
    <p style="background: yellow;">-Aplicaciones informáticas: desarrollo de aplicaciones, wifi en plazas y espacios públicos.</p>

    <h3>¿Qué propuestas no son consideradas un gasto de inversión y por lo tanto no son válidas?</h3>
    <p>Creación de institutos y colegios públicos, construcción de centros de salud, infraestructuras de autopistas y ferrocarriles, gastos de contratación de personal, mantenimiento y conservación de edificios, parques y mobiliarios; contratación de empresas o autónomos para la realización de trabajos y servicios, red de subte, ampliación del horario de servicios de transporte o modificación de rutas establecidas, comisarías, etc.</p>
  </div>
</div>
