<% provide :title do %><%= t('pages.titles.privacy') %><% end %>

<div class="row margin-top">

  <div class="small-12 medium-9 column">
    <!--<h1><%#= t("pages.privacy") %></h1>-->

    <h2>Políticas de Privacidad y Seguridad</h2><br>

    <p style="text-align: justify;">Las presentes Políticas de Privacidad y Seguridad tienen por objeto establecer los criterios para el uso de
      la plataforma web “BA Elige”, que el Gobierno de la Ciudad Autónoma de Buenos Aires, con domicilio en Uspallata
      3160, pone a disposición de los Ciudadanos.</p>

    <p style="text-align: justify;">El Gobierno de la Ciudad Autónoma de Buenos Aires proporciona a los usuarios los recursos técnicos adecuados
      para que tomen conocimiento de las presentes Políticas de Privacidad y Seguridad, y de cualquier otra información
      que pueda ser relevante, constituyendo el ingreso de datos personales o información confidencial en el sitio,
      la manifestación expresa de su consentimiento a la presente.</p>

    <p style="text-align: justify;">Las presentes políticas describen:</p>

    <ul>
      <li style="list-style: inherit;text-align: justify;">
        La existencia del archivo, registro, base o banco de datos, electrónico o de cualquier otro tipo de que
        se trate y el domicilio de su responsable.
      </li>
      <li style="list-style: inherit;text-align: justify;">
        Cuáles son los datos recolectados, cómo son utilizados y la finalidad para la que serán tratados.
      </li>
      <li style="list-style: inherit;text-align: justify;">
        El carácter obligatorio o facultativo de la respuesta a las preguntas que le sean formuladas.
      </li>
      <li style="list-style: inherit;text-align: justify;">
        Las consecuencias que deriven de proporcionar los datos, de la negativa de hacerlo o de la inexactitud
        de los mismos.</li>
      <li style="list-style: inherit;text-align: justify;">
        Cuáles son las opciones que el Gobierno de la Ciudad Autónoma de Buenos Aires ofrece en cuanto a la
        facultad y modo de ejercer los derechos de acceso, rectificación, actualización y supresión de los datos.
      </li>
    </ul>

    <p style="text-align: justify;">Se alienta a los padres o representantes de menores o incapaces a la supervisión de las personas a su cargo
      en relación a las actividades que éstos realicen en internet, debido a que los mismos pueden no alcanzar a
      comprender debidamente las presentes Políticas de Privacidad como sus implicancias.</p>

    <p style="text-align: justify;">La protección de la privacidad de los usuarios es sumamente importante para el Gobierno de la Ciudad Autónoma
      De Buenos Aires, por ello, independientemente de si se tratare de un usuario novato, o avanzado, se recomienda
      leer la presentes Políticas de Privacidad y Seguridad, y ante cualquier duda, o consulta, ponerse en contacto
      llamando al 147 (o desde fuera de la Ciudad Autónoma de Buenos Aires llamando al 0800-999-2727) o leyendo la
      guía de preguntas frecuentes.</p>

    <br>
    <h3>Datos recolectados:</h3>

    <p style="text-align: justify;">La navegación por la información disponible en la página plataforma web “BA Elige” es anónima.</p>

    <p style="text-align: justify;">Para utilizar los servicios contenidos en la plataforma web “BA Elige” el usuario deberá registrarse y
      proporcionar previamente los datos requeridos en el formulario. En caso de no completar alguno de los campos
      requeridos, el usuario visualizará una leyenda que indicando el carácter obligatorio del/de los mismos.</p>

    <p style="text-align: justify;">Los datos aportados serán tratados de acuerdo con la siguiente descripción:</p>

    <ul>
      <li style="list-style: inherit;text-align: justify;">
          Finalidad del tratamiento: Cumplimiento de los objetivos de la plataforma web según se indique en las
          Condiciones de Uso, esto es, gestionar los procesos participativos para el control de la habilitación de
          las personas que participan activamente y votan en los mismos y el recuento meramente numérico y estadístico
          de los resultados derivados de los procesos de participación ciudadana, así como enviar correos electrónicos
          sobre noticias de interés y demás novedades relativas al Gobierno de la Ciudad Autónoma de Buenos Aires.
          Se reitera entonces que, al aceptar las Condiciones de Uso y las presentes Políticas de Privacidad y
          Seguridad, los usuarios que se hayan registrado, podrán recibir información relacionada con los temas
          tratados en la plataforma web “BA Elige”, así como noticias de interés. Cualquier información o material que
          los usuarios envíen y/o publiquen por medio de la plataforma web “BA Elige” tales como propuestas, preguntas,
          comentarios, sugerencias o similares, será considerada como no confidencial, por lo que el Gobierno de la
          Ciudad Autónoma de Buenos Aires no tiene obligación de tratar tal información en forma confidencial y tiene
          libertad de utilizar cualquier idea, concepto, conocimiento o contenido que se incorpore en esa información
          o material. <br>
          La información personal no será vendida o transferida a otras organizaciones, y no se entregará a empresas
          de publicidad. <br>
          Como principio general, la plataforma web “BA Elige” no comparte ni revela información obtenida, excepto
          cuando haya sido autorizada por el usuario y/o cuando así lo establezca la Ley Nacional N° 25.326 de
          Protección de Datos Personales y la Ley Nº 1.845 de Protección de Datos Personales de la Ciudad Autónoma de
          Buenos Aires.
      </li>
      <li style="list-style: inherit;text-align: justify;">
        Órgano responsable: Dirección General Comunicación Participativa, dependiente de la  Subsecretaría de
        Comunicación del Gobierno de la Ciudad Autónoma de Buenos Aires (Uspallata 3160, Ciudad Autónoma de
        Buenos Aires).
      </li>
      <li style="list-style: inherit;text-align: justify;">
        En cada formulario se pondrá en evidencia cuáles datos son de carácter obligatorio y cuáles de carácter
        facultativo, lo anterior con base en las características y las Condiciones de Uso de la plataforma web
        “BA Elige”. Otro tipo de información puede ser facilitada de manera voluntaria por los usuarios por medio
        de encuestas o cuestionarios, lo cual depende exclusivamente de la voluntad de los usuarios.
      </li>
      <li style="list-style: inherit;text-align: justify;">
        No serán válidos para participar dentro de la plataforma web “BA Elige” todos aquellos formularios de
        registro que se encuentren incompletos. Es requisito para participar en las distintas etapas de “BA Elige”
        (generación de propuestas, apoyos, comentarios, votación y/o compartir contenido en otras redes) que todos y
        cada uno de los datos indicados sean verdaderos, exactos, vigentes y auténticos. Se considerará inválido
        cualquier intento de participación que incluya datos erróneos, inexactos, incompletos y/o fraudulentos. Si
        se hicieran cambios materiales en la forma en que la Información Personal es administrada se notificará a
        través de una versión actualizada de las Políticas en esta sección y/o mediante un aviso al inicio de la
        página al ingresar a la cuenta de “BA Elige” para que el titular pueda tomar una decisión informada para
        aceptar o no que la Información Personal sea utilizada de esa forma. En caso de no aceptar esos términos,
        quedará disuelto el vínculo y la Información Personal no será usada de otra forma que la que fue informada al
        momento de recabarse.
      </li>
      <li style="list-style: inherit;text-align: justify;">
        El Gobierno de la Ciudad Autónoma de Buenos Aires reconoce al Titular de los Datos Personales, previa
        acreditación de su identidad, el derecho a solicitar y a obtener información sobre sus datos personales
        incluidos en sus registros, dentro de los diez días hábiles desde la solicitud, de conformidad con lo
        establecido en la Ley Nacional N° 25.326 de Protección de Datos Personales y la Ley N°1.845 de Protección
        de Datos personales de la Ciudad Autónoma de Buenos Aires.
      </li>
      <li style="list-style: inherit;text-align: justify;">
        El Gobierno de la Ciudad Autónoma de Buenos Aires garantiza también al Titular de los Datos Personales el
        derecho a obtener la rectificación, actualización y, cuando corresponda, la supresión de los datos personales
        de los que sea titular, que estén incluidos en su banco de datos y garantiza la rectificación, supresión o
        actualización de los mismos en el plazo máximo de cinco días hábiles de recibido el reclamo del titular de
        los datos. En cumplimiento de la disposición 10/2008 de la Dirección Nacional de Protección de Datos
        Personales se hace saber que:
        <ul>
          <li>- El Titular de los Datos Personales tiene la facultad de ejercer el derecho de acceso a los mismos
            en forma gratuita y en intervalos no inferiores a seis meses, salvo que acredite un interés legítimo al
            efecto, conforme con lo establecido en el artículo 14, inciso 3 de la Ley Nº 25.326.</li>
          <li>- Los derechos de acceso y rectificación de datos, se podrán ejercer a través de un correo electrónico
            dirigido a baelige@buenosaires.gob.ar a requerimiento del titular de los datos sin costo alguno. Para
            ello se deberá remitir un correo electrónico a la dirección mencionada, con el asunto “Informar”,
            “Rectificar”, “Suprimir” y/o “Actualizar” según corresponda, conjuntamente con el objeto del
            requerimiento.</li>
          <li>- En el ámbito de la Ciudad Autónoma de Buenos Aires, la Defensoría del Pueblo de la Ciudad Autónoma
            de Buenos Aires, inviste el carácter de organismo de control de la Ley Nº 1.845 de Protección de Datos
            Personales de la Ciudad Autónoma de Buenos Aires.</li>
        </ul>
    </ul>

    <br>
    <h3>Seguridad:</h3>

    <p style="text-align: justify;">El Gobierno de la Ciudad Autónoma de Buenos Aires mantendrá absoluta confidencialidad de los datos personales.
      En particular:</p>
    <ul>
      <li style="list-style: inherit;text-align: justify;">
        Se encriptan muchos de nuestros servicios mediante el protocolo SSL (Secure Socket Layer o capa de puertos
        seguros). El certificado SSL sirve para brindar seguridad al visitante de la plataforma web, generando un
        sitio seguro y confiable para ingresar datos personales.
      </li>
      <li style="list-style: inherit;text-align: justify;">
        Se revisa constantemente la política en materia de recolección, almacenamiento y tratamiento de datos,
        incluyendo las medidas de seguridad físicas, para impedir el acceso no autorizado a nuestros sistemas.
      </li>
      <li style="list-style: inherit;text-align: justify;">
        Se limita el acceso de los contratistas, los agentes y los empleados de Gobierno de la Ciudad Autónoma de
        Buenos Aires a la información personal que deben procesar para el Gobierno de la Ciudad Autónoma De Buenos
        Aires y se asegura que cumplan las estrictas obligaciones de confidencialidad contractuales y de que estén
        sujetos a las condiciones disciplinarias pertinentes o al despido si no cumplen dichas obligaciones.
      </li>
    </ul>

    <br>
    <h3>Jurisdicción:</h3>

    <p style="text-align: justify;">Las personas que participen en la Plataforma web “BA Elige” se comprometen a solucionar amigablemente
      con el Gobierno de la Ciudad Autónoma de Buenos Aires, las diferencias que se pudieran presentar sobre
      cualquier aspecto relativo a la interpretación y/o desarrollo de dicha plataforma web. De no ser ello posible
      se someten a la competencia de los Tribunales en lo Contencioso Administrativo y Tributario de la Ciudad
      Autónoma de Buenos Aires, con renuncia expresa a cualquier otro fuero y/o jurisdicción que pudiere
      corresponderles.</p>

    <br>
    <h3>Modificaciones:</h3>

    <p style="text-align: justify;">El Gobierno de la Ciudad Autónoma de Buenos Aires se reserva el derecho de revisar y/o modificar las presentes
      Políticas de Privacidad y Seguridad en cualquier momento y por cualquier razón. En dicho caso, los usuarios
      registrados serán avisados a través de este espacio en línea y, si continúan utilizando la plataforma web
      “BA Elige”, se entenderán aceptadas las modificaciones introducidas.</p>

  </div>

  <div class="small-12 medium-3 column">
    <%= render '/shared/print' %>
  </div>

</div>

