<div class="row margin-top">
  <div class="small-12 medium-3 column">
    <%= render "shared/back_link" %>

    <ul class="vertical menu margin-top">
      <a href="#i"><strong>1. Explicación detallada del proceso</strong></a>
      <li><a href="#i1"><span style="font-weight: 600;">Creación de una propuesta.</span></a></li>
      <li><a href="#i2"><span style="font-weight: 600;">Apoyo de propuestas.</span></a></li>
      <li><a href="#i3"><span style="font-weight: 600;">Análisis de propuestas.</span></a></li>
      <li><a href="#i4"><span style="font-weight: 600;">Votación de los proyectos.</span></a></li>
      <li><a href="#i5"><span style="font-weight: 600;">Realización de los proyectos.</span></a></li>
    </ul>

    <ul class="vertical menu margin-top">
      <a href="#p"><strong>2. Preguntas frecuentes</strong></a>
      <li><a href="#p1"><span style="font-weight: 600;">¿Cuáles son los requisitos para votar proyectos?</span></a></li>
      <li><a href="#p2"><span style="font-weight: 600;">¿Cómo se va a controlar que cada persona vote una única vez por propuesta?</span></a></li>
      <li><a href="#p3"><span style="font-weight: 600;">¿Se llevará a cabo cualquier propuesta que se acepte por mayoría en la web, incluso si es ilegal o atenta contra los derechos humanos?</span></a></li>
      <li><a href="#p4"><span style="font-weight: 600;">¿Puede suceder que el Gobierno no pueda ejecutar los proyectos ganadores por falta de presupuesto?</span></a></li>
      <li><a href="#p5"><span style="font-weight: 600;">¿Votan todos los vecinos de la Ciudad de Buenos Aires en cada propuesta?, ¿incluso si hace referencia a una comuna distinta a mi domicilio?</span></a></li>
      <li><a href="#p6"><span style="font-weight: 600;">¿Cuál es el resultado final tras la votación de los proyectos?</span></a></li>
      <li><a href="#p17"><span style="font-weight: 600;">¿Y si se presentan varias propuestas iguales? ¿Se plantea la posibilidad de unificarlas para evitar que se diversifiquen los apoyos y/o votos?</span></a></li>
      <li><a href="#p8"><span style="font-weight: 600;">¿Pueden participar asociaciones, fundaciones y ONG? ¿Y empresas?</span></a></li>
      <li><a href="#p9"><span style="font-weight: 600;">¿Cuántos votos debe recibir un proyecto para convertirse en ganador?</span></a></li>
      <li><a href="#p10"><span style="font-weight: 600;">¿Existen mecanismos presenciales para participar?</span></a></li>
      <li><a href="#p11"><span style="font-weight: 600;">¿Cómo puede participar la gente que no está empadronada en la Ciudad de Buenos Aires?</span></a></li>
      <li><a href="#p12"><span style="font-weight: 600;">¿Cómo se sabe que una propuesta se ha cumplido?</span></a></li>
      <li><a href="#p13"><span style="font-weight: 600;">¿Qué diferencia los resultados de la fase de apoyos de la votación?</span></a></li>
      <li><a href="#p14"><span style="font-weight: 600;">¿Cuáles son las categorías en las que puedo subir una propuesta?</span></a></li>
      <li><a href="#p15"><span style="font-weight: 600;">¿En qué consiste la etapa de análisis de propuestas?</span></a></li>
      <li><a href="#p16"><span style="font-weight: 600;">¿Es posible crear propuestas para más de una comuna?</span></a></li>
    </ul>
  </div>

  <div class="small-12 medium-9 column">
    <h1>¿Cómo funciona la plataforma de BA Elige?</h1>
    <p>El mecanismo se resume en 4 pasos muy sencillos:</p>
    <ol>
      <li><strong>¡Proponés!</strong> Creás una propuesta en esta web.</li>
      <li><strong>¡Apoyás!</strong> Respaldás las propuestas que más te interesen.</li>
      <li><strong>¡Se analiza!</strong> Diferentes áreas del Gobierno de la Ciudad analizan cada propuesta y su viabilidad.</li>
      <li><strong>¡Decidís!</strong> Votás los proyectos que más te gusten, hasta agotar el presupuesto asignado.</li>
      <li><strong>¡Se hace!</strong> Los proyectos ganadores se asumen como vinculantes y el GCBA los lleva adelante.</li>
    </ol>

    <h2 id="i">1. Explicación del proceso</h2>

    <h3 id="i1">Creación de una propuesta</h3>
    <p>
      Del 1º al 30 de abril cualquier persona (sin necesidad de tener domicilio en la Ciudad de Buenos Aires) podrá crear una (o más) propuestas para cualquiera de las 15 comunas. Lo único que tenés que hacer es pulsar el botón “Creá una propuesta” y completar los campos requeridos o acercarte a alguno de los puntos de BA Elige y hacerlo ahí. La propuesta puede ser tan sencilla como una simple frase, pero te recomendamos detallarla todo lo posible, incluso con material adicional para que sea más completa e interesante.
    </p>

    <h3 id="i2">Apoyo de propuestas</h3>
    <p>Del 1° al 31 de mayo se podrán apoyar las propuestas.
      Para apoyar una de las propuestas que aparecen en la web, hacé clic en el botón “Apoyar” que aparece en cada una
      de ellas. Se podrá apoyar cada propuesta una sola y hasta un máximo de diez. Aquellas con más apoyos pasan a la
      siguiente fase.</p>

    <h3 id="i3">Análisis de propuestas.</h3>
    <p>
      Del 1° de junio al 31 de julio los profesionales de las diferentes áreas del GCBA estudiarán que las propuestas cumplan con los requisitos necesarios: que sean propuestas de inversión, viables y legales, e indicarán su costo estimado de ejecución. El orden de análisis está determinado por la cantidad de apoyos obtenidos en la etapa anterior en cada una de las comunas y en las distintas categorías.
    </p>

    <h3 id="i4">Votación de los proyectos.</h3>
    <p>
      Del 21 de agosto al 17 de septiembre vas a poder decidir cómo gastar el dinero destinado en la comuna que elijas. Cada usuario podrá elegir todos los proyectos que quiera hasta agotar el presupuesto correspondiente. Los proyectos ganadores hasta completar el mismo serán los seleccionados y los que se ejecutarán en el 2018.
    </p>
    <p>
      Importante: para este paso tenés que contar en tu DNI con domicilio en la Ciudad de Buenos Aires, es por ello que tu cuenta tiene que estar verificada.
    </p>

    <h3 id="i5">Realización de los proyectos.</h3>
    <p>
      Aquellos proyectos que resulten ganadores, el Gobierno de la Ciudad de Buenos Aires los asumirá como vinculantes y los incluirá en el proyecto inicial de ley del presupuesto que se ejecutará a partir del 1º de enero de 2018.
    </p>

    <h2 id="p">2. Preguntas frecuentes</h2>

    <h3 id="p1">¿Cuáles son los requisitos para votar proyectos?</h3>
    <p>Podrán votar aquellas personas que tengan domicilio en la Ciudad de Buenos Aires. La votación se hará a través
      de esta página web o en puntos en la Ciudad de alto tránsito. Es necesario verificar tu cuenta de usuario de la
      web (podés encontrar el botón de verificación en “<%= link_to(t("layouts.header.my_account_link"), account_path, accesskey: "m") %>”
      en la esquina superior derecha), proporcionando tus datos personales </p>

    <h3 id="p2">¿Cómo se va a controlar que cada persona vote una única vez por propuesta?</h3>
    <p>El sistema impedirá generar más de 1 voto por cada uno de los proyectos.</p>

    <h3 id="p3">¿Se llevará a cabo cualquier propuesta que se acepte por mayoría en la web, incluso si es ilegal o atenta contra los Derechos humanos?</h3>
    <p>
      Se establece una serie de criterios objetivos para determinar que se trata de propuestas viables, válidas y legales, por lo que no se llevarán a cabo propuestas ilegales o que atenten contra los derechos humanos.
    </p>

    <h3 id="p4">¿Puede suceder que el Gobierno no pueda ejecutar los proyectos ganadores por falta de presupuesto?</h3>
    <p>Todos los proyectos que resulten ganadores serán incluidos en el proyecto inicial de ley de presupuesto 2018. </p>

    <h3 id="p5">¿Votan todos los vecinos de la Ciudad de Buenos Aires en cada propuesta?, ¿incluso si hace referencia
      a una comuna distinta a mi domicilio?</h3>
    <p>Sí, todos los vecinos de la Ciudad  pueden votar sin necesidad de que se trate de la comuna en la que tenés tu
      domicilio.</p>

    <h3 id="p6">¿Cuál es el resultado final tras la votación de los proyectos?</h3>
    <p>El resultado final del proceso se obtiene, una vez finalizada la votación, con todos los proyectos ordenados por
      número de votos para cada comuna. En cada lista se van seleccionando los proyectos desde el más votados hasta el
      menos votado, teniendo en cuenta que cada uno de ellos incluido no supere el presupuesto restante destinado a
      dicha lista. Si un proyecto supera este límite, se ignora y se pasa al siguiente. La selección final se integra
      en el proyecto de ley 2018.</p>

    <h3 id="p17">¿Y si se presentan varias propuestas iguales? ¿Se plantea la posibilidad de unificarlas para evitar
      que se diversifiquen los apoyos y/o votos?</h3>
    <p>En caso de hallarse propuestas iguales y/o similares, nos comunicaremos con los autores para indicarles que ya
      existe una igual o similar para que la modifique o la retire. La decisión final de modificación o unificación
      es de los autores.</p>

    <h3 id="p8">¿Pueden participar asociaciones, fundaciones y ONG? ¿Y empresas?</h3>
    <p>Las propuestas tienen que ser presentadas individualmente, sin problema de que quien la propone represente a una
      organización de cualquier tipo. Al registrar una propuesta en la web, existe la posibilidad de señalar este caso
      como registro de asociaciones/colectivos.</p>

    <h3 id="p9">¿Cuántos votos debe recibir un proyecto para convertirse en ganador?</h3>
    <p>Cada proyecto debe recibir al menos un voto, aquellos que más votos reciban hasta agotar el presupuesto asignado
      para cada comuna, serán los que se ejecutarán.</p>

    <h3 id="p10">¿Existen mecanismos presenciales para participar?</h3>
    <p>
      Sí, podés acercarte a cualquier
      <%= link_to "punto BA Elige", page_path('how_it_works')%>
      de la Ciudad de Buenos Aires y participar desde allí. Además podrás participar telefónicamente llamando al 147 y habrán puntos de recolección de propuestas ubicados en distintos lugares de alto tránsito de la Ciudad.
    </p>

    <h3 id="p11">¿Cómo puede participar la gente que no tenga domicilio en la Ciudad de Buenos Aires?</h3>
    <p>
      Cualquier persona, tenga domicilio o no en la Ciudad Autónoma de Buenos Aires puede crear, subir, dar apoyo, comentar y compartir propuestas. Pero solo aquellos que cuenten con domicilio en la Ciudad podrán votar proyectos.
    </p>

    <h3 id="p12">¿Cómo se sabe que una propuesta se ha cumplido?</h3>
    <p>Cuando se aprueba un proyecto, se publicará en esta página web cuáles son los pasos que se van a realizar para
      ponerlo en práctica, incluyendo los informes que las correspondientes áreas redacten y las acciones que se emprenden.
      Una vez finalizada la votación, ya con la lista de proyectos que cubren el presupuesto total, se incluirá esta
      lista en el proyecto inicial de ley de presupuesto 2018. Este proyecto de ley se empieza a trabajar en el mes de
      septiembre y se aprueba en diciembre del 2017. El compromiso del Gobierno es asumir de manera vinculante lo
      decidido, es decir que el resultado del proceso será incluido en el presupuesto 2018. La información es completa
      y transparente para que puedas hacer un seguimiento de cómo evoluciona cada proyecto de gasto.</p>

    <h3 id="p13">¿Qué diferencia los resultados de la fase de apoyos de la votación?</h3>
    <p>La fase de apoyos simplemente reduce el número de propuestas que pasan a la etapa de análisis para que, las área
      competentes del Gobierno de la Ciudad sean capaces de realizar la mayor cantidad de informes posibles acorde a
      los deseos de los participantes. En cambio los resultados de la votación determinan los proyectos que se van a
      llevar a cabo.</p>

    <h3 id="p14">¿Cuáles son las categorías en las que puedo subir una propuesta?</h3>
    <p>
      Innovación, Educación, Cultura, Plazas y parques, Movilidad y tránsito, Mascotas, Reciclado, Deportes y calidad de vida, Ferias y mercados y Arte urbano.
    </p>

    <h3 id="p15">¿En qué consiste la etapa de análisis de propuestas?</h3>
    <p>
      Las áreas competentes del GCBA estudiarán si la propuesta es viable técnicamente y si no hay algún impedimento para llevarla a cabo. Además, estimarán su costo y excluirán todas aquellas propuestas que superen el monto asignado según la comuna que se trate.
    </p>

    <h3 id="p16">¿Es posible crear propuestas para más de una comuna?</h3>
    <p>Sí, la cantidad de propuestas a crear es ilimitada, sin embargo, cada propuesta deberá dirigirse a una sola comuna.</p>

  </div>
</div>
