<div class="row margin-top">
  <div class="small-12 medium-3 column">
    <%= render "shared/back_link" %>

    <ul class="menu vertical margin-top">
      <a href="#i"><strong>¿Qué propuestas puedo hacer?</strong></a>
      <li><a href="#i1"><span style="font-weight: 600;">¿Cuáles son los requisitos que deben cumplir las propuestas para ser válidas?</span></a></li>
    </ul>
  </div>

  <div class="small-12 medium-9 column">
    <h1 id="i">¿Qué propuestas puedo hacer?</h1>
    <p>Conocé qué tipos de proyectos podés proponer.</p>
    <p>Tenés la posibilidad de generar diferentes <%= link_to "propuestas de inversión", page_path('participation_facts') %>
      para cualquiera de las 15 comunas de la Ciudad, debido a que parte del presupuesto de inversión 2018
      será asignado a la materialización de estas ideas. Escribila con tus palabras, no es necesario que hagas una
      descripción técnica o compleja, aunque cuanto más detallada sea conseguirás una mayor cantidad de apoyos.</p>

    <h3 id="i1">¿Cuáles son los requisitos que deben cumplir las propuestas para ser válidas?</h3>
    <p>- No constituir/implicar un gasto corriente.</p>
    <p>- No superar el presupuesto disponible y asignado (varía según cada comuna).</p>
    <p>- Estar incluido en las categorías disponibles (Innovación, Educación, Plazas y Parques, Movilidad y Tránsito, Mascotas, Reciclado,Cultura, Deportes y calidad de vida, Arte urbano, Ferias y mercados, Calidad de vida).</p>
    <p>- No infringir ninguna ley y/o normativa vigente.</p>
    <p>- Guardar relación a un gasto de inversión (mejoras en espacios públicos, equipamiento urbano, etc.).</p>
    <p>- No implicar gastos de funcionamiento (por ejemplo, incorporar una Estación Saludable implica un gasto de personal).</p>
    <p>- Ser de interés general para la Ciudad o la comuna que se verá afectada con la propuesta.</p>
    <p>- Debe corresponder a la jurisdicción de la Ciudad Autónoma de Buenos Aires.</p>
    <p>Las propuestas que cumplan con estos requisitos serán analizadas por las áreas correspondientes, quienes
      estimarán sus costos de realización.</p>
  </div>
</div>
