<ul class="no-bullet external-links">
  <li>
    <%= link_to t("layouts.header.external_link_city_participation"),
                t("layouts.header.external_link_city_participation_url"),
                target: "_blank",
                title: t('shared.target_blank_html') %>
  </li>
</ul>
